section.Services__mainWrapper
	section.Services__copyWrapper
		p.Services__mainHeader.ServicesOnboardAnim__heroCopy.wow.fadeInUp(data-wow-delay="0.05s") We build digital
		p.Services__mainHeader.ServicesOnboardAnim__heroCopy.color--red.wow.fadeInUp(data-wow-delay="0.05s") for a living.
		p.Services__bodyCopy.ServicesOnboardAnim__bodyCopy.wow.fadeInUp(data-wow-delay="0.15s")
			| FlatCloud comprises a team of brilliant minds and innovative individuals who create digital products people love to use.
		p.Services__bodyCopy.ServicesOnboardAnim__bodyCopy.wow.fadeInUp(data-wow-delay="0.3s")
			| We believe that seamless, user-centric and meaningful experiences transcend mediums and touchpoints.
	section
		section.servicesGrid__mainWrapper
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(255, 255, 101);')
					img.serviceItem__heroImg(src='./assets/services/services-postIt@2x.png', srcset='./assets/services/services-postIt.png 1x, ./assets/services/services-postIt@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy User Experience
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy How users interact
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(0, 0, 0);') User Experience
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(0, 0, 0);') We are all users.
						.serviceItem__bodyCopy(style='color: rgb(0, 0, 0);')
							| With over 200 digital projects and counting, we get what users want and need pretty easily. UX is the core to everything we build. In FlatCloud, we take user research, competitive analysis, wireframes, user flows, content maps very seriously.
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(238, 217, 220);')
					img.serviceItem__heroImg(src='./assets/services/services-pixCherry@2x.png', srcset='./assets/services/services-pixCherry.png 1x, ./assets/services/services-pixCherry@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy Interface Design
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy For all the screens in the world
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(0, 0, 0);') Interface Design
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(0, 0, 0);') We live to design.
						.serviceItem__bodyCopy(style='color: rgb(0, 0, 0);')
							| We have pixel OCD. We keep ourselves constantly inspired with the hype and trends in the design industry to craft gorgeous interactions for your brand.
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(179, 38, 46);')
					img.serviceItem__heroImg(src='./assets/services/services-letterSeal@2x.png', srcset='./assets/services/services-letterSeal.png 1x, ./assets/services/services-letterSeal@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy Consultancy
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy For proof-of-concepts
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(255, 255, 255);') Consultancy
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(255, 255, 255);') We can help validate your ideas.
						.serviceItem__bodyCopy(style='color: rgb(255, 255, 255);')
							| Ready to take the first step? Let us help with a minimum viable product. Tap on our brains and experience to create a semi-product to test the waters. Consult us on user experience, how the product could look like and turn it into a rapid prototype.
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(25, 136, 232);')
					img.serviceItem__heroImg(src='./assets/services/services-phone@2x.png', srcset='./assets/services/services-phone.png 1x, ./assets/services/services-phone@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy Mobile Development
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy iOS & Android
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(255, 255, 255);') Mobile Development
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(255, 255, 255);') We are Apple & Android friendly.
						.serviceItem__bodyCopy(style='color: rgb(255, 255, 255);')
							| Native, ReactNative, payment gateway integration, bespoke CMS, consuming APIs from existing sources and all things mobile app relevant. We’ve mostly done it all.
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(255, 141, 110);')
					img.serviceItem__heroImg(src='./assets/services/services-laptop@2x.png', srcset='./assets/services/services-laptop.png 1x, ./assets/services/services-laptop@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy Web Development
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy For businesses any shape and size
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(0, 0, 0);') Web Development
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(0, 0, 0);') We weave front-end magic.
						.serviceItem__bodyCopy(style='color: rgb(0, 0, 0);')
							| Web portals, microsites (yes, they still exist), web apps - responsive, powered by WordPress or supported by a bespoke CMS. No screen sizes scare us, only IE does.
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(24, 161, 82);')
					img.serviceItem__heroImg(src='./assets/services/services-cogwheels@2x.png', srcset='./assets/services/services-cogwheels.png 1x, ./assets/services/services-cogwheels@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy CMS
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy Manage your own content
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(255, 255, 255);') CMS
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(255, 255, 255);') We give u data.
						.serviceItem__bodyCopy(style='color: rgb(255, 255, 255);')
							| All bespoke CMS we build comes with a dashboard so you can monitor the activities on your product. Edit or add content at your convenience - we’ll customise everything to your wants and needs.
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(72, 50, 69);')
					img.serviceItem__heroImg(src='./assets/services/services-vr@2x.png', srcset='./assets/services/services-vr.png 1x, ./assets/services/services-vr@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy Emerging Tech
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy Because we are geeks
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(255, 255, 255);') Emerging Tech
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(255, 255, 255);') We have all the fancy gadgets.
						.serviceItem__bodyCopy(style='color: rgb(255, 255, 255);')
							| Bluetooth, beacon, NFC, Augmented reality, IoT and more - we know and we have all these buzzwords in our office. We put Superman in AR before Pokemon Go did.
			.servicesGrid__item
				.serviceItem__mainWrapper
					.serviceItem__ballBGWrapper
						.serviceItem__ballBG(style='background-color: rgb(136, 57, 85);')
					img.serviceItem__heroImg(src='./assets/services/services-rolledCert@2x.png', srcset='./assets/services/services-rolledCert.png 1x, ./assets/services/services-rolledCert@2x.png 2x')
					.serviceItem__wrapperHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__headerCopy Coaching
					.serviceItem__wrapperSubHeader--preHover
						.serviceItem__overflowHiddenWrapper
							p.serviceItem__subHeaderCopy Come learn our secrets
					.serviceItem__bodyContentWrapper
						.serviceItem__wrapperHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__headerCopy(style='color: rgb(255, 255, 255);') Coaching
						.serviceItem__wrapperSubHeader--postHover
							.serviceItem__overflowHiddenWrapper
								p.serviceItem__subHeaderCopy(style='color: rgb(255, 255, 255);') We’d love to share.
						.serviceItem__bodyCopy(style='color: rgb(255, 255, 255);')
							p
								| Attend our Masterclasses with the FlatCloud syllabus or talk to us to customise sessions just for your business teams.
							a Learn more here.
		section.responsiveServicesGrid__mainWrapper
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader User Experience
				p.responsiveServiceItem__header We are all users.
				.responsiveServiceItem__ballBG(style='background-color: rgb(255, 255, 101);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-postIt@2x.png', srcset='./assets/services/services-postIt.png 1x, ./assets/services/services-postIt@2x.png 2x')
				p.responsiveServiceItem__body
					| With over 200 digital projects and counting, we get what users want and need pretty easily. UX is the core to everything we build. In FlatCloud, we take user research, competitive analysis, wireframes, user flows, content maps very seriously.
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader Interface Design
				p.responsiveServiceItem__header We live to design.
				.responsiveServiceItem__ballBG(style='background-color: rgb(238, 217, 220);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-pixCherry@2x.png', srcset='./assets/services/services-pixCherry.png 1x, ./assets/services/services-pixCherry@2x.png 2x')
				p.responsiveServiceItem__body
					| We have pixel OCD. We keep ourselves constantly inspired with the hype and trends in the design industry to craft gorgeous interactions for your brand.
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader Consultancy
				p.responsiveServiceItem__header We can help validate your ideas.
				.responsiveServiceItem__ballBG(style='background-color: rgb(179, 38, 46);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-letterSeal@2x.png', srcset='./assets/services/services-letterSeal.png 1x, ./assets/services/services-letterSeal@2x.png 2x')
				p.responsiveServiceItem__body
					| Ready to take the first step? Let us help with a minimum viable product. Tap on our brains and experience to create a semi-product to test the waters. Consult us on user experience, how the product could look like and turn it into a rapid prototype.
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader Mobile Development
				p.responsiveServiceItem__header We are Apple & Android friendly.
				.responsiveServiceItem__ballBG(style='background-color: rgb(25, 136, 232);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-phone@2x.png', srcset='./assets/services/services-phone.png 1x, ./assets/services/services-phone@2x.png 2x')
				p.responsiveServiceItem__body
					| Native, ReactNative, payment gateway integration, bespoke CMS, consuming APIs from existing sources and all things mobile app relevant. We’ve mostly done it all.
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader Web Development
				p.responsiveServiceItem__header We weave front-end magic.
				.responsiveServiceItem__ballBG(style='background-color: rgb(255, 141, 110);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-laptop@2x.png', srcset='./assets/services/services-laptop.png 1x, ./assets/services/services-laptop@2x.png 2x')
				p.responsiveServiceItem__body
					| Web portals, microsites (yes, they still exist), web apps - responsive, powered by WordPress or supported by a bespoke CMS. No screen sizes scare us, only IE does.
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader CMS
				p.responsiveServiceItem__header We give u data.
				.responsiveServiceItem__ballBG(style='background-color: rgb(24, 161, 82);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-cogwheels@2x.png', srcset='./assets/services/services-cogwheels.png 1x, ./assets/services/services-cogwheels@2x.png 2x')
				p.responsiveServiceItem__body
					| All bespoke CMS we build comes with a dashboard so you can monitor the activities on your product. Edit or add content at your convenience - we’ll customise everything to your wants and needs.
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader Emerging Tech
				p.responsiveServiceItem__header We have all the fancy gadgets.
				.responsiveServiceItem__ballBG(style='background-color: rgb(72, 50, 69);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-vr@2x.png', srcset='./assets/services/services-vr.png 1x, ./assets/services/services-vr@2x.png 2x')
				p.responsiveServiceItem__body
					| Bluetooth, beacon, NFC, Augmented reality, IoT and more - we know and we have all these buzzwords in our office. We put Superman in AR before Pokemon Go did.
			.responsiveServiceItem__mainWrapper
				p.responsiveServiceItem__subheader Coaching
				p.responsiveServiceItem__header We’d love to share.
				.responsiveServiceItem__ballBG(style='background-color: rgb(136, 57, 85);')
					img.responsiveServiceItem__heroImg.lazyload.blur-up(data-src='./assets/services/services-rolledCert@2x.png', srcset='./assets/services/services-rolledCert.png 1x, ./assets/services/services-rolledCert@2x.png 2x')
				p.responsiveServiceItem__body
					| Attend our Masterclasses with the FlatCloud syllabus or talk to us to customise sessions just for your business teams. 
					a Learn more here.
