section.aboutUsMasthead__mainWrapper
	h1.aboutUsMasthead__header.AboutUsOnboardAnim__heroCopy
		| We are 
		span.color--red FastCloud.
	.AboutUsOnboardAnim__bodyCopy(style='display: inline-block; cursor: pointer;')
		.aboutUsMasthead__icoSpeaker
		p.aboutUsMasthead__bodyCopy [co•di•go] Code in spanish
		p.aboutUsMasthead__bodyDescription.aboutUsMasthead__copy-bodyDescription
			| We are an award winning mobile application developer based in Singapore, with offices in Myanmar and Vietnam.
		p.aboutUsMasthead__copy-bodyDescription
			| Speak with us today on how we can help you develop a mobile first strategy for your business with iOS/Android apps and backend web applications.