section.aboutUsGrid__gridWrapper
	.aboutUsGrid__gridItem(style='animation-delay: 0.15364s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/Zy.jpg', data-srcset='./assets/about/Zy.jpg 1x, ./assets/about/Zy.jpg 2x', title='Zhenyu')
	.aboutUsGrid__gridItem(style='animation-delay: 0.27s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Adrian’s name was in the credits of Marvel’s Iron Man 2.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/ADRIAN@2x.jpg', data-srcset='./assets/about/ADRIAN@2x.jpg 1x, ./assets/about/ADRIAN@2x.jpg 2x', title='Adrian')
	.aboutUsGrid__gridItem(style='animation-delay: 0.347444s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Axton has more followers than FastCloud on Instagram.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/AX@2x.jpg', data-srcset='./assets/about/AX@2x.jpg 1x, ./assets/about/AX@2x.jpg 2x', title='Axton')
	.aboutUsGrid__gridItem(style='animation-delay: 0.380266s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Regina can’t ride a bicycle.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/REGINA@2x.jpg', data-srcset='./assets/about/REGINA@2x.jpg 1x, ./assets/about/REGINA@2x.jpg 2x', title='Regina')
	.aboutUsGrid__gridItem(style='animation-delay: 0.159547s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Paing programmed a bar table LED light display.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/PAING@2x.jpg', data-srcset='./assets/about/PAING@2x.jpg 1x, ./assets/about/PAING@2x.jpg 2x', title='Paing')
	.aboutUsGrid__gridItem(style='animation-delay: 0.432515s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Winston cannot pronounce the word ‘email’.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/WINSTON@2x.jpg', data-srcset='./assets/about/WINSTON@2x.jpg 1x, ./assets/about/WINSTON@2x.jpg 2x', title='Winston')
	.aboutUsGrid__gridItem(style='animation-delay: 0.440131s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Weili is the fairest in FastCloud.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/WEILI@2x.jpg', data-srcset='./assets/about/WEILI@2x.jpg 1x, ./assets/about/WEILI@2x.jpg 2x', title='Weili')
	.aboutUsGrid__gridItem(style='animation-delay: 0.157518s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Victor believes he’s the Pirate King.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/VICTOR@2x.jpg', data-srcset='./assets/about/VICTOR@2x.jpg 1x, ./assets/about/VICTOR@2x.jpg 2x', title='Victor')
	.aboutUsGrid__gridItem(style='animation-delay: 0.440543s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Thiha loves the Kelly’s Bockwurst Sausages.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/THIHA@2x.jpg', data-srcset='./assets/about/THIHA@2x.jpg 1x, ./assets/about/THIHA@2x.jpg 2x', title='Thiha')
	.aboutUsGrid__gridItem(style='animation-delay: 0.151655s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Terence’s first email address was insectrepellent@hotmail.com.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/TAETAE@2x.jpg', data-srcset='./assets/about/TAETAE@2x.jpg 1x, ./assets/about/TAETAE@2x.jpg 2x', title='TaeTae')
	.aboutUsGrid__gridItem(style='animation-delay: 0.31887s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Steve’s name is spelled as Stiff in the office.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/STEVE@2x.jpg', data-srcset='./assets/about/STEVE@2x.jpg 1x, ./assets/about/STEVE@2x.jpg 2x', title='Steve')
	.aboutUsGrid__gridItem(style='animation-delay: 0.220965s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Shawn has enough striped tees to wear for a week.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/SHAWN@2x.jpg', data-srcset='./assets/about/SHAWN@2x.jpg 1x, ./assets/about/SHAWN@2x.jpg 2x', title='Shawn')
	.aboutUsGrid__gridItem(style='animation-delay: 0.108297s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Guiyu wants to go to the U.S. to eat fast food.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/GUIYU@2x.jpg', data-srcset='./assets/about/GUIYU@2x.jpg 1x, ./assets/about/GUIYU@2x.jpg 2x', title='Giuyu')
	.aboutUsGrid__gridItem(style='animation-delay: 0.43757s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Louis eats the same thing for breakfast everyday.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/LOUIS@2x.jpg', data-srcset='./assets/about/LOUIS@2x.jpg 1x, ./assets/about/LOUIS@2x.jpg 2x', title='Louis')
	a.aboutUsGrid__gridItemSpanLong.aboutUsGrid__CTA(href='#')
		.joinTheTeam__mainWrapper
			h1.joinTheTeam__header
				| We’re always on the look out 
				br
				| for passionate people.
			p.joinTheTeam__bodyCopy If you’d like to join our amazing team, get in touch.
		.joinTheTeam__btnCTA
	.aboutUsGrid__gridItem(style='animation-delay: 0.405638s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/KHUN@2x.jpg', data-srcset='./assets/about/KHUN@2x.jpg 1x, ./assets/about/KHUN@2x.jpg 2x', title='Khun Zohn')
	.aboutUsGrid__gridItem(style='animation-delay: 0.358662s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy A cultivator wandering in the IT world.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/KAUNG-SOE@2x.jpg', data-srcset='./assets/about/KAUNG-SOE@2x.jpg 1x, ./assets/about/KAUNG-SOE@2x.jpg 2x', title='Kaung Soe')
	.aboutUsGrid__gridItem(style='animation-delay: 0.440286s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Joann can cook a mean fried bee hoon.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/JOANN@2x.jpg', data-srcset='./assets/about/JOANN@2x.jpg 1x, ./assets/about/JOANN@2x.jpg 2x', title='Joann')
	.aboutUsGrid__gridItem(style='animation-delay: 0.354051s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Jayson eat no greens except curry leaves.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/JAYSON@2x.jpg', data-srcset='./assets/about/JAYSON@2x.jpg 1x, ./assets/about/JAYSON@2x.jpg 2x', title='Jayson')
	.aboutUsGrid__gridItem(style='animation-delay: 0.363969s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/HTETLIN@2x.jpg', data-srcset='./assets/about/HTETLIN@2x.jpg 1x, ./assets/about/HTETLIN@2x.jpg 2x', title='Htet lin')
	.aboutUsGrid__gridItem(style='animation-delay: 0.187586s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Nurlin hasn’t had dark hair since she graduated from TP.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/NURLIN@2x.jpg', data-srcset='./assets/about/NURLIN@2x.jpg 1x, ./assets/about/NURLIN@2x.jpg 2x', title='Nurlin')
	.aboutUsGrid__gridItem(style='animation-delay: 0.377651s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/HIEU@2x.jpg', data-srcset='./assets/about/HIEU@2x.jpg 1x, ./assets/about/HIEU@2x.jpg 2x', title='Hieu')
	.aboutUsGrid__gridItem(style='animation-delay: 0.100687s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/ERIC@2x.jpg', data-srcset='./assets/about/ERIC@2x.jpg 1x, ./assets/about/ERIC@2x.jpg 2x', title='Eric')
	.aboutUsGrid__gridItem(style='animation-delay: 0.132779s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Threadless is selling tees that Ava designed.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/AVA@2x-2.jpg', data-srcset='./assets/about/AVA@2x-2.jpg 1x, ./assets/about/AVA@2x-2.jpg 2x', title='Ava')
	.aboutUsGrid__gridItem(style='animation-delay: 0.208982s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/AUNG-HTOO@2x.jpg', data-srcset='./assets/about/AUNG-HTOO@2x.jpg 1x, ./assets/about/AUNG-HTOO@2x.jpg 2x', title='Aung Htoo')
	.aboutUsGrid__gridItem(style='animation-delay: 0.449857s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy
				| Eat whatever you want, and if anyone tries to lecture you abt your weight, eat them too!
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/AEINDRA@2x.jpg', data-srcset='./assets/about/AEINDRA@2x.jpg 1x, ./assets/about/AEINDRA@2x.jpg 2x', title='Aeindra')
	.aboutUsGrid__gridItem(style='animation-delay: 0.155249s;')
		.aboutUsGrid__gridHoverContentWrapper
			p.aboutUsGrid__gridHoverContentCopy Daniel used to be professional poker player.
		img.aboutUsGrid__gridImg.blur-up.lazyload(data-src='./assets/about/DANIEL@2x.jpg', data-srcset='./assets/about/DANIEL@2x.jpg 1x, ./assets/about/DANIEL@2x.jpg 2x', title='Daniel')
	.aboutUsGrid__gridItemViewAll
		.aboutUsGrid__viewAllCopyWrapper
			p.aboutUsGrid__viewAllTextHeader +0
			p.aboutUsGrid__viewAllTextLabel View all
