section.awards__mainWrapper.clearfix
	h1.awards__mainHeader Awards and Recognition
	.featuredAward__mainWrapper.clearfix
		.featuredAward__item
			p.featuredAward__copy The MOB-EX
			p.featuredAward__copy Best of Show 2015
			.featuredAward__separator
			p.featuredAward__position Winner
		.featuredAward__item
			p.featuredAward__copy Mobile Marketing
			p.featuredAward__copy Agency of the Year 2015
			.featuredAward__separator
			p.featuredAward__position Local Hero
		.featuredAward__item
			p.featuredAward__copy Mobile Agency
			p.featuredAward__copy of the year 2014
			.featuredAward__separator
			p.featuredAward__position 1st Place
		.featuredAward__item
			p.featuredAward__copy Mobile Marketing
			p.featuredAward__copy Agency of the Year 2014
			.featuredAward__separator
			p.featuredAward__position Local Hero
	.trophies__mainWrapper.clearfix
		.trophies__item
			.trophies__blue
			p.trophies__text
				span.trophies__text--boldLarger Best of Show
		.trophies__item
			.trophies__gold
			p.trophies__text
				span.trophies__text--boldLarger 10
				|  Gold
		.trophies__item
			.trophies__silver
			p.trophies__text
				span.trophies__text--boldLarger 8
				|  Silver