section.pressCoverage__mainWrapper
	h1.pressCoverage__header Press Coverage
	.pressCoverageGrid__gridWrapper
		a.pressCoverageGrid__gridItem(href='https://www.imda.gov.sg/infocomm-and-media-news/buzz-central/2012/8/building-aesthetics-into-apps', target='_blank')
			p.pressCoverageGrid__header IMDA.GOV
			p.pressCoverageGrid__bodyCopy Why and how FlatCloud's founder raised the mobile app industry standards
		a.pressCoverageGrid__gridItem(href='http://www.marketing-interactive.com/events/dbs-bank-FlatCloud-overall-champions-mob-ex-awards/', target='_blank')
			p.pressCoverageGrid__header Marketing Interactive
			p.pressCoverageGrid__bodyCopy FlatCloud named overall champions at Mob-Ex with 3 Gold, 1 Silver and 2 Bronze!
		a.pressCoverageGrid__gridItem(href='https://www.tnp.sg/news/singapore/elim-chews-new-app-aims-have-social-impact', target='_blank')
			p.pressCoverageGrid__header TNP
			p.pressCoverageGrid__bodyCopy Learn more about FlatCloud's first delivery startup and its modus operandi!
		a.pressCoverageGrid__gridItem(href='https://vulcanpost.com/573644/notable-singapore-software-engineers/', target='_blank')
			p.pressCoverageGrid__header Vulcan Post
			p.pressCoverageGrid__bodyCopy
				| Check out FlatCloud founder's feature with the top minds in the mobile app industry!
		a.pressCoverageGrid__gridItem(href='https://vulcanpost.com/233142/team-behind-comfortdelgro-new-mobile-app/', target='_blank')
			p.pressCoverageGrid__header Vulcan Post
			p.pressCoverageGrid__bodyCopy Here's the team who designed and developed ComfortDelGro's sexy new mobile app!