section.findUs__mainWrapper
	section.findUs__contentWrapper.clearfix
		.findUs__copyWrapper
			p.findUs__mainHeader Find us
			.findUsCTA__mainWrapper
				.findUsCTA__item
					p.findUsCTA__header Say Hello
					div
						a.findUsCTA__bodyText.button--aLink(href='obfuscated', style='unicode-bidi: bidi-override; display: inline-block') +84 79 3333 710
					div
						a.findUsCTA__bodyText.button--aLink(href='obfuscated', style='unicode-bidi: bidi-override; display: inline-block') flatcloud.vn@gmail.com
				.findUsCTA__item
					p.findUsCTA__header Join FlatCloud
					div
						a.findUsCTA__bodyText.button--aLink(href='obfuscated', style='unicode-bidi: bidi-override; display: inline-block') flatcloud.vn@gmail.com
				.findUsCTA__item
					p.findUsCTA__header Build Something
					p.findUsCTA__bodyText.button--inlineArrows--red Request a quotation
		.findUsLoc__gridWrapper
			.findUsLoc__gridItem
				.findUsCountry__mainWrapper
					.findUsCountry__img.findUsCountry--vietnam
					.findUsCountry__wrapper--preHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
					.findUsCountry__wrapper--postHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__bodyText 153/131 Điện Biên Phủ, P.15, Quận Bình Thạnh, HCM
			.findUsLoc__gridItem
				.findUsCountry__mainWrapper
					.findUsCountry__img.findUsCountry--singapore
					.findUsCountry__wrapper--preHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
					.findUsCountry__wrapper--postHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__bodyText Lorem ipsum dolor, sit amet consectetur adipisicing elit.
			.findUsLoc__gridItem
				.findUsCountry__mainWrapper
					.findUsCountry__img.findUsCountry--singapore
					.findUsCountry__wrapper--preHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
					.findUsCountry__wrapper--postHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__bodyText Lorem ipsum dolor, sit amet consectetur adipisicing elit.