section.findUs__mainWrapper
	section.findUs__contentWrapper.clearfix
		.findUs__copyWrapper
			p.findUs__mainHeader Find us
			.findUsCTA__mainWrapper
				.findUsCTA__item
					p.findUsCTA__header Say Hello
					div
						a.findUsCTA__bodyText.button--aLink(href='obfuscated', style='unicode-bidi: bidi-override; display: inline-block; direction: rtl;') 0979 5546 56+
					div
						a.findUsCTA__bodyText.button--aLink(href='obfuscated', style='unicode-bidi: bidi-override; display: inline-block; direction: rtl;') oc.ogidoc@olleh
				.findUsCTA__item
					p.findUsCTA__header Join Codigo
					a.findUsCTA__bodyText.button--aLink(href='obfuscated', style='unicode-bidi: bidi-override; display: inline-block; direction: rtl;') oc.ogidoc@sreerac
				.findUsCTA__item
					p.findUsCTA__header Build Something
					p.findUsCTA__bodyText.button--inlineArrows--red Request a quotation
		.findUsLoc__gridWrapper
			.findUsLoc__gridItem
				.findUsCountry__mainWrapper
					.findUsCountry__img.findUsCountry--singapore
					.findUsCountry__wrapper--preHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Singapore
					.findUsCountry__wrapper--postHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Singapore
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__bodyText 26 Sin Ming Lane, Midview City #07-115 Singapore 573971.
			.findUsLoc__gridItem
				.findUsCountry__mainWrapper
					.findUsCountry__img.findUsCountry--myanmar
					.findUsCountry__wrapper--preHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Myanmar
					.findUsCountry__wrapper--postHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Myanmar
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__bodyText
								| No. 11A, 2nd Floor (New Strength Building), East Horse Race Course Road, Tamwe, Yangon, Myanmar
			.findUsLoc__gridItem
				.findUsCountry__mainWrapper
					.findUsCountry__img.findUsCountry--vietnam
					.findUsCountry__wrapper--preHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
					.findUsCountry__wrapper--postHover
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__headerText Vietnam
						.findUsCountry__overflowHiddenWrapper
							h2.findUsCountry__bodyText 76 Nguyen Duc Canh Street Ninh Kieu District, Can Tho City