footer.footer
	span.extraBold--36.footer__header Let’s have a chat
	.trusts__mainWrapper.clearfix
		.trusts__itemWrapper.trusts__itemWrapper--request-a-quote
			.trusts__itemWrapper--centraliser
				span.extraBold--26.trusts__header.w--arrow Build
				.body--14 Help you build something
		.trusts__itemWrapper.trusts__itemWrapper--co-incubate
			.trusts__itemWrapper--centraliser
				span.extraBold--26.trusts__header.w--arrow Co-incubate
				.body--14 Co-incubate an idea together
		.trusts__itemWrapper.trusts__itemWrapper--customise
			.trusts__itemWrapper--centraliser
				span.extraBold--26.trusts__header.w--arrow Customise
				.body--14 Customise a solution for your business
		.trusts__itemWrapper.trusts__itemWrapper--organise
			.trusts__itemWrapper--centraliser
				span.extraBold--26.trusts__header.w--arrow Organise
				.body--14 Organise learning sessions with us
	.social__wrapper
		a.social__item(href='#', target='_blank')
			img(src='./assets/icons/social-facebook.svg', width='12', height='22')
		a.social__item(href='#', target='_blank')
			img(src='./assets/icons/social-twitter.svg', width='23', height='18')
		a.social__item(href='#', target='_blank')
			img(src='./assets/icons/social-instagram.svg', width='21', height='19')
		a.social__item(href='#', target='_blank')
			img(src='./assets/icons/social-linkedIn.svg', width='20', height='20')
	.body--14.ta-c Copyright © FlatCloud - Mobile App Developer Singapore
	.body--14.ta-c.footer__contact +84 79 3333 710 - 153/131 Điện Biên Phủ, P.15, Quận Bình Thạnh, HCM