.paginationWrapper
	ul.pagination.lst-n.jc-c.row
		li.paginationItem.paginationItem__prev
			a.paginationItem__url(href="#") Previous
		li.paginationItem
			a.paginationItem__url(href="#") 1
		li.paginationItem
			a.paginationItem__url(href="#") 2
		li.paginationItem.active
			a.paginationItem__url(href="#") 3
		li.paginationItem
			a.paginationItem__url(href="#") 4
		li.paginationItem.paginationItem__next
			a.paginationItem__url(href="#") Next