section.WorkDetails__mainWrapper
	section.projectDetails__mainWrapper.clearfix
		section.projectDetails__copyWrapper
			p.projectDetails__mainHeader.is--loadedState MyRepublic Mobile
			.CTAgrid__mainWrapper
				a.CTAgrid__gridGroupWrapper.is--loadedState(href='https://itunes.apple.com/sg/app/myrepublic/id1335560926?mt=8', target='_blank')
					.CTAgrid__iconItem.iconItem__appStore
					p.CTAgrid__labelItem Available on
					p.CTAgrid__copyItem App store
				a.CTAgrid__gridGroupWrapper.is--loadedState(href='https://play.google.com/store/apps/details?id=net.myrepublic.android&hl=en_SG', target='_blank')
					.CTAgrid__iconItem.iconItem__googlePlay
					p.CTAgrid__labelItem Available on
					p.CTAgrid__copyItem Google play
				a.CTAgrid__gridGroupWrapper.is--loadedState(href='https://mobile.myrepublic.com.sg/', target='_blank')
					.CTAgrid__iconItem.iconItem__web
					p.CTAgrid__labelItem Live on
					p.CTAgrid__copyItem website.com
			.projectDetails__bodyCopy.is--loadedState
				| Joining MyRepublic in the move to be the 6th telco provider in Singapore, Codigo designed MyRepublic first self-help mobile app for their new mobile customers to allow ease and flexibility in managing their mobile plans.
				| Boost data, switch plans, pay bills and more with a mere tap of your finger. At rocket speed.
			section.projectKeyFeatures__mainWrapper.clearfix.is--loadedState
				.projectKeyFeatures__labelWrapper
					p.projectKeyFeatures__labelCopy Key Features
				.projectKeyFeatures__keyFeatureWrapper
					.projectKeyFeatures__keyFeatureCopyFormatter
						ul
							li Real-time tracking of data usage
							li Instant boost of additional data
							li Switch plans without calling any hotlines
		section.projectDetails__visualWrapper
			.is--loadedState.WorkDetailsHeroSlider__ballBG(style='background-color: rgb(116, 58, 160);')
			.is--loadedState.slickCarousel.WorkDetailsHeroSlider__mainWrapper
				div
					img.WorkDetailsHeroSlider__phoneVis(src='https://cdn.codigo.co/uploads/2018/12/Myr_01-3.png', srcset='https://cdn.codigo.co/uploads/2018/12/Myr_01-3.png 1x, https://cdn.codigo.co/uploads/2018/12/Myr_01-2.png 2x', tabindex='-1', style='width: 100%; display: inline-block;')
				div
					img.WorkDetailsHeroSlider__phoneVis(src='https://cdn.codigo.co/uploads/2018/12/Myr_02-3.png', srcset='https://cdn.codigo.co/uploads/2018/12/Myr_02-3.png 1x, https://cdn.codigo.co/uploads/2018/12/Myr_02-2.png 2x', tabindex='-1', style='width: 100%; display: inline-block;')
				div
					img.WorkDetailsHeroSlider__phoneVis(src='https://cdn.codigo.co/uploads/2018/12/Myr_03-3.png', srcset='https://cdn.codigo.co/uploads/2018/12/Myr_03-3.png 1x, https://cdn.codigo.co/uploads/2018/12/Myr_03-2.png 2x', tabindex='-1', style='width: 100%; display: inline-block;')

