.newsDetailBanner__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.newsDetailbanner {
	position: relative;
}

.newsDetailBanner__content {
	padding: 100px 0 200px 0;
	.text {
		max-width: 875px;
		margin: 0 auto;
		h1 {
			font-size: 4.1vw;
			font-weight: 400;
			@media (max-width: 1024.98px) {
				font-size: 8vw;
			}
		}
		p {
			font-size: 1.6rem;
			margin-top: 4.5rem;
			line-height: 1.3;
		}
	}
	@media (max-width: 1199.98px) {
		padding: 100px 0;
	}
	@media (max-width: 767.98px) {
		padding: 50px 0;
	}
}
