section.LandingTypewrite__mainWrapper
	section.LandingTypewrite__gridWrapper
		section.LandingTypewrite__gridContentNestedWrapper--1
			p.LandingMastHeader__textFormat.LandingMastHeader__textEffect(style='')
			.Typist
				section
					p.LandingMastHeader__textFormat.LandingMastHeader--FirstCharacter
						span.LandingMastHeader__textFormat.LandingMastHeader__textEffect.item-2 Thiết kế 
						br
						span.LandingMastHeader__textFormat.LandingMastHeader__textEffect.item-3 website tối giản 1
				span.Cursor.Cursor--blinking
		section.LandingTypewrite__gridContentNestedWrapper--2
			p.LandingMastSubheader__textFormat Thiết kế website tối giản phần 1
			p.LandingMastSubheader__textFormat.hidden Thiết kế website tối giản phần 2
			p.LandingMastSubheader__textFormat.hidden Thiết kế website tối giản phần 3
			p.LandingMastSubheader__textFormat.hidden Thiết kế website tối giản phần 4
		section.LandingTypewrite__gridContentNestedWrapper--3
			.LandingProgressBar__mainWrappingBar
				.LandingProgressBar__progressLevel
