.fulfillYourRequest.web-developement
	.web-developement__titleWrapper
		h2.web-developement__title.tt-u.ta-c.wow.fadeInUp ĐÁP ỨNG MỌI NHU CẦU BẠN CẦN
		p.web-developement__description.ta-c.wow.fadeInUp(data-wow-delay="0.15s") Giải pháp của chúng tôi phù hợp với tất cả mọi người dù bạn là người mới bắt đầu hay chuyên gia.
	.fulfillYourRequest__contentWrapper.container
		.row.jc-c
			.col-lg-11.col-xl-10
				.row
					.col-md-4.wow.slideInLeft(data-wow-delay="0.15s")
						.fulfillYourRequestItem.ta-c
							.fulfillYourRequestItem__img.ta-c
								img.lazyload.blur-up(data-src="./assets/web-developement/1.png")
							.fulfillYourRequestItem__content
								h4.ta-c.tt-u WEB DOANH NGHIỆP
								p Website doanh nghiệp là bộ mặt thể hiện sự chuyên nghiệp và phong cách của công ty. FlatCloud thấu hiểu điều đó để sáng tạo ra những giao diện độc đáo.
					.col-md-4.wow.fadeInUp
						.fulfillYourRequestItem.ta-c
							.fulfillYourRequestItem__img.ta-c
								img.lazyload.blur-up(data-src="./assets/web-developement/2.png")
							.fulfillYourRequestItem__content
								h4.ta-c.tt-u WEB BÁN HÀNG
								p Website bán hàng được tối ưu SEO và tối ưu UX/UI sẽ giúp tăng trải nghiệm khách hàng một cách mạnh mẽ. Và đó là nền tảng để tăng chuyển đổi bán hàng.
					.col-md-4.wow.slideInRight(data-wow-delay="0.3s")
						.fulfillYourRequestItem.ta-c
							.fulfillYourRequestItem__img.ta-c
								img.lazyload.blur-up(data-src="./assets/web-developement/3.png")
							.fulfillYourRequestItem__content
								h4.ta-c.tt-u LANDING PAGE
								p Website cá nhân  giúp mỗi chúng ta thể hiện cá tính riêng. Website không chỉ là nơi cho bạn thỏa sức sáng tạo mà còn mang lại nguồn thu MMO không nhỏ.
.designProfessional.web-developement
	.web-developement__titleWrapper
		h2.web-developement__title.tt-u.ta-c.wow.fadeInUp THIẾT KẾ CHUYÊN BIỆT TỪNG NGÀNH NGHỀ LÀ THẾ MẠNH CỦA CHÚNG TÔI
	
	.designProfessional__backgroundWrapper
		.designProfessional__background
			img(src="./assets/web-developement/bg-1.svg")
		.designProfessional__backgroundImg.wow.fadeInUp
			img(src="./assets/web-developement/4.svg")
	.designProfessional__content
		.container
			.row.jc-c
				.col-lg-11
					.row
						.col-lg-6.designProfessionalItem__col.wow.fadeInUp(data-wow-delay="0.15s")
							.designProfessionalItem
								.designProfessionalItem__img
									img(src="./assets/web-developement/icon-1.svg", alt="")
								.designProfessionalItem__content
									h4 GIAO DIỆN THÂN THIỆN MỌI THIẾT BỊ 
									p Giao diện website tự tuỳ biến để hiển thị hoàn hảo nhất trên desktop, smartphone, tablet...
						.col-lg-6.designProfessionalItem__col.wow.fadeInUp(data-wow-delay)
							.designProfessionalItem
								.designProfessionalItem__img
									img(src="./assets/web-developement/icon-2.svg", alt="")
								.designProfessionalItem__content
									h4 CẤU TRÚC TỐI ƯU SEO
									p Cấu trúc trang và cấu trúc dữ liệu của website được xây dựng thân thiện với các Search Engine giúp khách hàng dễ dàng tìm thấy sản phẩm/dịch vụ của bạn.
						.col-lg-6.designProfessionalItem__col.wow.fadeInUp(data-wow-delay="0.45s")
							.designProfessionalItem
								.designProfessionalItem__img
									img(src="./assets/web-developement/icon-3.svg", alt="")
								.designProfessionalItem__content
									h4 CHỦ WEBSITE DỄ DÀNG TÙY BIẾN
									p Website tại FlatCloud trang bị tính năng tùy biến trực quan ngay trên giao diện. Bạn có thể kéo thả bố cục và nhập nội dung một cách linh hoạt.
						.col-lg-6.designProfessionalItem__col.wow.fadeInUp(data-wow-delay="0.3s")
							.designProfessionalItem
								.designProfessionalItem__img
									img(src="./assets/web-developement/icon-4.svg", alt="")
								.designProfessionalItem__content
									h4 BẢO MẬT DỮ LIỆU TỐI ĐA
									p Với tính năng bảo mật bằng chứng chỉ SSL và hạ tầng bảo vệ dữ liệu chuyên sâu của FlatCloud, bạn có thể yên tâm khi rủi ro mất dữ liệu hoặc rò rỉ dữ liệu được giảm xuống thấp nhất.