.whyChooseWebsite.web-developement
	.web-developement__titleWrapper
		h2.web-developement__title.tt-u.ta-c.wow.fadeInUp VÌ SAO CHỌN WEBSITE LÀM KÊNH KINH DOANH CHỦ LỰC
	.container
		.row.jc-c
			.col-lg-11
				.row
					.col-lg.col-content.web-developement-left
						.whyChooseWebsiteItem.wow.slideInLeft(data-wow-delay="0.15s")
							.whyChooseWebsiteItem__img
								img.lazyload.blur-up(data-src="./assets/web-developement/icon-5.png")
							.whyChooseWebsiteItem__content
								h4 KHÔNG PHỤ THUỘC CÁC BÊN THỨ BA
								p Khi bạn sở hữu website, bạn có thể xây dựng thương hiệu và phát triển website theo ý muốn. Không cần phụ thuộc vào bên thứ 3 như Facebook hoặc Instagram.
						.whyChooseWebsiteItem.wow.slideInLeft
							.whyChooseWebsiteItem__img
								img.lazyload.blur-up(data-src="./assets/web-developement/icon-6.png")
							.whyChooseWebsiteItem__content
								h4 TĂNG UY TÍN MẠNH MẼ CHO DOANH NGHIỆP
								p Một doanh nghiệp dù lớn nhưng sẽ giảm rất nhiều điểm trong mắt khách hàng nếu bạn không có website riêng. Hãy đặt niềm tin cho khách hàng ngay từ hôm nay!.
					.col-auto.web-developement-img.wow.fadeIn
						img.lazyload.blur-up(data-src="./assets/web-developement/iphone.png")
					.col-lg.col-content.web-developement-right
						.whyChooseWebsiteItem.wow.slideInRight(data-wow-delay="0.15s")
							.whyChooseWebsiteItem__img
								img.lazyload.blur-up(data-src="./assets/web-developement/icon-7.png")
							.whyChooseWebsiteItem__content
								h4 TIẾP CẬN KHÁCH HÀNG TRÊN KHẮP MỌI NƠI
								p Mỗi ngày có hàng trăm triệu truy vấn diễn ra trên không gian mạng và có hàng triệu khách hàng tiềm năng xuất hiện. Website là kênh tiếp cận hiệu quả hàng đầu.
						.whyChooseWebsiteItem.wow.slideInRight
							.whyChooseWebsiteItem__img
								img.lazyload.blur-up(data-src="./assets/web-developement/icon-8.png")
							.whyChooseWebsiteItem__content
								h4 CHI PHÍ LÀM WEBSITE KHÔNG QUÁ CAO 
								p Nếu so với những lợi ích có được thì chi phí làm Website có thể nói là rất phải chăng. Và những gì bạn xây dựng sẽ tăng giá trị theo thời gian.