.buildAWebsite.web-developement
	.web-developement__titleWrapper
		h2.web-developement__title.tt-u.ta-c.wow.fadeInUp XÂY DỰNG WEBSITE CHO MỌI NHÓM NGÀNH NGHỀ
	.buildAWebsite__contentWrapper
		.buildAWebsite__background
			img(src="./assets/web-developement/bg-2.svg")
		.web-developement__container
			.row.ai-fe
				.col-lg-6.wow.slideInLeft
					.buildAWebsite__img
						img.lazyload.blur-up(data-src="./assets/web-developement/device.png")
				.col-lg-6
					.buildAWebsite__content
						.buildAWebsiteItem.wow.slideInRight
							.buildAWebsiteItem__img
								img.lazyload.blur-up(data-src="./assets/web-developement/icon-9.svg")
							.buildAWebsiteItem__content
								h4 Giúp cho nhiều thương hiệu phủ sóng toàn cầu
								p FlatCloud đã thực hiện hơn 100+ dự án website giới thiệu cho các doanh nghiệp về xây dựng, xuất nhập khẩu, nội thất, giáo dục, công nghệ ...
						.buildAWebsiteItem.wow.slideInRight(data-wow-delay="0.15s")
							.buildAWebsiteItem__img
								img.lazyload.blur-up(data-src="./assets/web-developement/icon-10.svg")
							.buildAWebsiteItem__content
								h4 Khách hàng chia sẻ thêm khách hàng
								p FlatCloud đã hoàn thành hơn 50+ website bán hàng thuộc các lĩnh vực HOT như bán mỹ phẩm, nông sản sạch, đồ điện tử, phụ kiện điện tử, đồ thể thao, trang phục trẻ em, thời trang nam nữ…
						.buildAWebsiteItem.wow.slideInRight(data-wow-delay="0.3s")
							.buildAWebsiteItem__img
								img.lazyload.blur-up(data-src="./assets/web-developement/icon-11.svg")
							.buildAWebsiteItem__content
								h4 Thành công của chúng tôi từ thành công của bạn
								p Nhu cầu thiết kế website cá nhân ngày càng tăng khi các hoạt động MMO trở nên phổ biến. Nhưng Website làm Affiliate Marketing hoặc Google Adsense đã được FlatCloud tối ưu hóa toàn diện.
