.commentFromCustomer.web-developement
	.circle1.wow.slideInLeft
	.circle2.wow.slideInRight
	.web-developement__container
		.row.ai-c
			.col-lg-6.wow.slideInLeft
				.commentFromCustomer__title
					h2.fl-work__mainHeader Nhận xét từ 
						br
						| khách hàng
					p.Services__bodyCopy FlatCloud là đối tác đáng tin cậy của Xuyên Việt Media trong thời gian qua. Chúng tôi đã cũng nhau hợp tác xây dựng trọn gói nhiều website từ quy mô trung bình đến quy mô lớn. Đội ngũ kỹ thuật của FlatCloud rất thiện chí và lành nghề.
			.col-lg-6
				.commentFromCustomer__content
					.commentFromCustomerItem.wow.slideInRight(data-wow-delay="0.0s")
						.commentFromCustomerItem__img
							img.lazyload.blur-up(data-src="./assets/web-developement/guest-1.jpg")
						.commentFromCustomerItem__content
							h4 Mr. Trần Thắng 
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero, vitae cras enim sit.
					.commentFromCustomerItem.wow.slideInRight(data-wow-delay="0.15s")
						.commentFromCustomerItem__img
							img.lazyload.blur-up(data-src="./assets/web-developement/guest-1.jpg")
						.commentFromCustomerItem__content
							h4 Mr. Trần Thắng 
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero, vitae cras enim sit.
					.commentFromCustomerItem.wow.slideInRight(data-wow-delay="0.3s")
						.commentFromCustomerItem__img
							img.lazyload.blur-up(data-src="./assets/web-developement/guest-1.jpg")
						.commentFromCustomerItem__content
							h4 Mr. Trần Thắng 
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero, vitae cras enim sit.