.faq-developement.web-developement
	.web-developement__titleWrapper
		h2.web-developement__title.tt-u.ta-c.wow.fadeInUp WEBSITE CHUYÊN NGHIỆP
			br
			| GIAO DIỆN ĐẦY ĐỦ NGÀNH NGHỀ CHO BẠN DỄ DÀNG LỰA CHỌN
	.faq-developement__container.wow.fadeInUp
		.faq-developementItem
			.faq-developementItem__title
				h4 Website có được bảo hành hay không?
			.faq-developementItem__content
				p Website được thiết kế bởi Flatcloud đều được bảo hành các vấn đề liên quan tới lỗi code phát sinh trong vòng 12 tháng. Đồng thời khách hàng được miễn phí hosting 12 tháng đầu từ ngày bàn giao website.
		.faq-developementItem
			.faq-developementItem__title
				h4 Dịch vụ thiết kế website có xuất hóa đơn VAT không?
			.faq-developementItem__content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quaerat qui voluptate veniam dolorem, suscipit voluptates nesciunt dolor esse, autem velit impedit eum earum temporibus consequuntur aspernatur accusamus odio ipsam!
		.faq-developementItem
			.faq-developementItem__title
				h4 Làm thế nào ...
			.faq-developementItem__content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quaerat qui voluptate veniam dolorem, suscipit voluptates nesciunt dolor esse, autem velit impedit eum earum temporibus consequuntur aspernatur accusamus odio ipsam!
		.faq-developementItem
			.faq-developementItem__title
				h4 Câu hỏi mẫu
			.faq-developementItem__content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quaerat qui voluptate veniam dolorem, suscipit voluptates nesciunt dolor esse, autem velit impedit eum earum temporibus consequuntur aspernatur accusamus odio ipsam!
		.faq-developementItem
			.faq-developementItem__title
				h4 Câu hỏi mẫu
			.faq-developementItem__content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quaerat qui voluptate veniam dolorem, suscipit voluptates nesciunt dolor esse, autem velit impedit eum earum temporibus consequuntur aspernatur accusamus odio ipsam!
		.faq-developementItem
			.faq-developementItem__title
				h4 Câu hỏi mẫu
			.faq-developementItem__content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quaerat qui voluptate veniam dolorem, suscipit voluptates nesciunt dolor esse, autem velit impedit eum earum temporibus consequuntur aspernatur accusamus odio ipsam!