.newsDetailbanner
	.newsDetailBanner__img
		img.lazyload.blur-up(data-src="./assets/news/banner.jpg")
	.newsDetailBanner__content
		.fl-header__container
			.d-f.ai-c
				.text.ta-c.color--white
					h1 Thiết kế Website tối giản
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere a elementum nisi, morbi eget tellus laoreet accumsan. Et tempus sit quam id bibendum scelerisque dolor enim. Nulla maecenas tempor erat cras. Leo fermentum viverra fermentum, enim a, auctor sed. Lacus congue curabitur ipsum interdum iaculis amet. Felis egestas arcu nibh sit. Elementum sed odio at quis ullamcorper cras est. Ut pretium faucibus lacus nec aliquet. Leo sit lorem diam blandit sed amet pellentesque. Diam, libero tempor, diam, faucibus non. Null