.newsDetailContent
	.newsDetailContent__contentWrapper
		.newsDetailContent__breadcrumb
			ol
				li
					a(href="#")
						img(src="./assets/icons/home.svg")
				li
					a(href="#")
						span Breadcrumb 1
				li.active
					a(href="#")
						span Breadcrumb 2
		.newsDetailContent__content
			.content
				h1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, nam, fugit, mollitia fuga eum harum cumque cupiditate.
				time 25/10/2020
				p Marketing scrum project network effects growth hacking iteration hypotheses burn rate success paradigm shift. Rockstar strategy research & development deployment series A financing direct mailing social media vesting period business-to-consumer hackathon interaction design handshake incubator focus.
				br
				p Bandwidth investor incubator churn rate marketing seed round. Venture crowdsource leverage channels research & development. Niche market market iteration alpha low hanging fruit infrastructure venture business-to-consumer.
				p Marketing scrum project network effects growth hacking iteration hypotheses burn rate success paradigm shift. Rockstar strategy research & development deployment series A financing direct mailing social media vesting period business-to-consumer hackathon interaction design handshake incubator focus.
				br
				p Bandwidth investor incubator churn rate marketing seed round. Venture crowdsource leverage channels research & development. Niche market market iteration alpha low hanging fruit infrastructure venture business-to-consumer.
				p Marketing scrum project network effects growth hacking iteration hypotheses burn rate success paradigm shift. Rockstar strategy research & development deployment series A financing direct mailing social media vesting period business-to-consumer hackathon interaction design handshake incubator focus.
				br
				p Bandwidth investor incubator churn rate marketing seed round. Venture crowdsource leverage channels research & development. Niche market market iteration alpha low hanging fruit infrastructure venture business-to-consumer.
				p Marketing scrum project network effects growth hacking iteration hypotheses burn rate success paradigm shift. Rockstar strategy research & development deployment series A financing direct mailing social media vesting period business-to-consumer hackathon interaction design handshake incubator focus.
				br
				p Bandwidth investor incubator churn rate marketing seed round. Venture crowdsource leverage channels research & development. Niche market market iteration alpha low hanging fruit infrastructure venture business-to-consumer.
				p Marketing scrum project network effects growth hacking iteration hypotheses burn rate success paradigm shift. Rockstar strategy research & development deployment series A financing direct mailing social media vesting period business-to-consumer hackathon interaction design handshake incubator focus.
				br
				p Bandwidth investor incubator churn rate marketing seed round. Venture crowdsource leverage channels research & development. Niche market market iteration alpha low hanging fruit infrastructure venture business-to-consumer.
		.newsDetailContent__content.newsDetailContent__comment
			.content.block-comment
				h2 Bình luận
				.row
					.col-sm-6
						.form-group
							input.form-control(placeholder="Tên của bạn" type="text")
					.col-sm-6
						.form-group
							input.form-control(placeholder="Email" type="text")
					.col-12
						.form-group
							textarea.form-control.form-textarea(placeholder="Nội dung (vui lòng gõ tiếng việt có dấu)" type="text")
					.col-12
						.form-group.form-button
							button.btn.btn-comment Đăng tải
			.content.block-comment
				h2 3 Comments
				.row.no-gutters
					.commentItem
						.commentItem__img
							img.lazyload.blur-up(data-src="#")
						.commentItem__info
							h4 Silvia Natalia
							time 20 Decemeber 2019
							p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
							.comment__toolbar
								span.comment__toolbarItem.comment__reply Reply
							.commentItem
								.commentItem__img
									img.lazyload.blur-up(data-src="#")
								.commentItem__info
									h4 Silvia Natalia
									time 20 Decemeber 2019
									p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
									.comment__toolbar
										span.comment__toolbarItem.comment__reply Reply
							.commentItem
								.commentItem__img
									img.lazyload.blur-up(data-src="#")
								.commentItem__info
									h4 Silvia Natalia
									time 20 Decemeber 2019
									p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
									.comment__toolbar
										span.comment__toolbarItem.comment__reply Reply
							.commentItem
								.commentItem__img
									img.lazyload.blur-up(data-src="#")
								.commentItem__info
									h4 Silvia Natalia
									time 20 Decemeber 2019
									p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
									.comment__toolbar
										span.comment__toolbarItem.comment__reply Reply
					.commentItem
						.commentItem__img
							img.lazyload.blur-up(data-src="#")
						.commentItem__info
							h4 Silvia Natalia
							time 20 Decemeber 2019
							p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
							.comment__toolbar
								span.comment__toolbarItem.comment__reply Reply
					.commentItem
						.commentItem__img
							img.lazyload.blur-up(data-src="#")
						.commentItem__info
							h4 Silvia Natalia
							time 20 Decemeber 2019
							p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
							.comment__toolbar
								span.comment__toolbarItem.comment__reply Reply
					.commentItem
						.commentItem__img
							img.lazyload.blur-up(data-src="#")
						.commentItem__info
							h4 Silvia Natalia
							time 20 Decemeber 2019
							p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
							.comment__toolbar
								span.comment__toolbarItem.comment__reply Reply
					.commentItem
						.commentItem__img
							img.lazyload.blur-up(data-src="#")
						.commentItem__info
							h4 Silvia Natalia
							time 20 Decemeber 2019
							p Marketing first mover advantage business plan low hanging fruit crowdfunding. Business model canvas launch party focus mass market hackathon channels buzz ramen entrepreneur buyer branding freemium.
							.comment__toolbar
								span.comment__toolbarItem.comment__reply Reply