section.Solutions
	section.solutionsMasthead__mainWrapper.wow.fadeInUp
		h1.solutionsMasthead__header.SolutionsOnboardAnim__heroCopy Ready-made
		h1.solutionsMasthead__header.SolutionsOnboardAnim__heroCopy solutions.
		h1.solutionsMasthead__header.SolutionsOnboardAnim__heroCopy.color--red Customisable
		h1.solutionsMasthead__header.SolutionsOnboardAnim__heroCopy.color--red for your business.
	section.solutionsHeroGrid__mainWrapper
		section.solutionsHeroGrid__gridItem
			img.solutionsHeroGrid__bgImg.is--defaultState(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-customer-loyality@2x.jpg"); background-position: 0% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-logistics@2x.jpg"); background-position: 0% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-providing-a-service@2x.jpg"); background-position: 0% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-booking-a-ride@2x.jpg"); background-position: 0% center;')
			p.solutionsHeroGrid__textCopy Reward programs made easy
			p.solutionsHeroGrid__textHeader Customer Loyalty
			.solutionsHeroGrid__stroke
		section.solutionsHeroGrid__mobileGridItem(style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-customer-loyality.jpg");')
			p.solutionsHeroGrid__textCopy Reward programs made easy
			p.solutionsHeroGrid__textHeader Customer Loyalty
			.solutionsHeroGrid__stroke
		section.solutionsHeroGrid__gridItem
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-customer-loyality@2x.jpg"); background-position: 33.3333% center;')
			img.solutionsHeroGrid__bgImg.is--defaultState(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-logistics@2x.jpg"); background-position: 33.3333% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-providing-a-service@2x.jpg"); background-position: 33.3333% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-booking-a-ride@2x.jpg"); background-position: 33.3333% center;')
			p.solutionsHeroGrid__textCopy On-demand delivery service
			p.solutionsHeroGrid__textHeader Logistics
			.solutionsHeroGrid__stroke
		section.solutionsHeroGrid__mobileGridItem(style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-logistics.jpg");')
			p.solutionsHeroGrid__textCopy On-demand delivery service
			p.solutionsHeroGrid__textHeader Logistics
			.solutionsHeroGrid__stroke
		section.solutionsHeroGrid__gridItem
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-customer-loyality@2x.jpg"); background-position: 66.6667% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-logistics@2x.jpg"); background-position: 66.6667% center;')
			img.solutionsHeroGrid__bgImg.is--defaultState(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-providing-a-service@2x.jpg"); background-position: 66.6667% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-booking-a-ride@2x.jpg"); background-position: 66.6667% center;')
			p.solutionsHeroGrid__textCopy Find part-time staff, book tickets or even Ad spaces
			p.solutionsHeroGrid__textHeader Providing a Service
			.solutionsHeroGrid__stroke
		section.solutionsHeroGrid__mobileGridItem(style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-providing-a-service.jpg");')
			p.solutionsHeroGrid__textCopy Find part-time staff, book tickets or even Ad spaces
			p.solutionsHeroGrid__textHeader Providing a Service
			.solutionsHeroGrid__stroke
		section.solutionsHeroGrid__gridItem
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-customer-loyality@2x.jpg"); background-position: 100% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-logistics@2x.jpg"); background-position: 100% center;')
			img.solutionsHeroGrid__bgImg.is--notMainIndexImage(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-providing-a-service@2x.jpg"); background-position: 100% center;')
			img.solutionsHeroGrid__bgImg.is--defaultState(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-booking-a-ride@2x.jpg"); background-position: 100% center;')
			p.solutionsHeroGrid__textCopy Point-to-Point, your personal driver
			p.solutionsHeroGrid__textHeader Booking a Ride
			.solutionsHeroGrid__stroke
		section.solutionsHeroGrid__mobileGridItem(style='background-image: url("https://www.codigo.co/img/views/solutions/solutions-booking-a-ride.jpg");')
			p.solutionsHeroGrid__textCopy Point-to-Point, your personal driver
			p.solutionsHeroGrid__textHeader Booking a Ride
			.solutionsHeroGrid__stroke
	section.solutionsContent__mainWrapper.SolutionsOnboardAnim__bodyCopy
		p.solutionsContent__header
			| Complete end-to-end solutions for any digital touchpoints - mobile apps, responsive web portals, touchscreen kiosks and more.
		p.solutionsContent__bodyCopy
			| Recruit service providers, book services anytime anywhere plus receive real-time status updates of what’s going on. Monitor and observe all activities via a fully customisable dashboard and leverage data collected to provide more value to your business and customers.
		p.solutionsContent__bodyCopy
			| There are much more details to all the above we’ve built, 
			a(style='cursor: pointer;') speak to us today
			|  to see how we can share the solutions with you.
