@import 'i-1';
@import 'i-2';
@import 'i-3';
@import 'i-4';

body.index-page {
	background-color: map-get($color, main);
}

.LandingPagination__displayWrapper {
	animation-name: paginationDisplayOnLoad;
	animation-duration: 0.5s;
	animation-fill-mode: backwards;
	@media (max-width: 980px) {
		display: none;
	}
}

.LandingPagination__displayWrapper {
	transition: transform 0.5s, opacity 0.5s;
	transition-delay: 0.2s;
	opacity: 1;
}
.LandingPagination__displayWrapper {
	position: absolute;
	top: 50%;
	transform: translate3d(0, -50%, 0);
}
.LandingPagination__controlWrapper {
	animation-name: paginationControlOnLoad;
	animation-duration: 0.5s;
	animation-fill-mode: backwards;
}

.LandingPagination__controlWrapper {
	transition: transform 0.7s cubic-bezier(0.2, 0.6, 0.4, 1),
		opacity 0.7s cubic-bezier(0.2, 0.6, 0.4, 1);
	transition-delay: 0s;
	opacity: 0;
	transform: translate3d(40%, 0, 0);
}
.LandingPagination__text {
	transition: transform 0.9s cubic-bezier(0.2, 0.9, 0.4, 1), color 0.3s;
}
.LandingPagination__text {
	font-weight: 800;
	font-size: 1.8rem;
	text-align: center;
	color: #4c3549;
	padding: 12px 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&.is--active {
		color: #fff;
	}
}
.LandingPagination__separator {
	width: 45px;
	height: 1px;
	background: #4c3549;
}
.LandingPagination__controlItemWrapper {
	position: relative;
	&:after {
		content: '';
		width: 22px;
		height: 1px;
		position: absolute;
		top: 45%;
		right: 0;
		transform: translateY(-50%) scaleX(0);
		background: #fff;
		display: block;
		transition: transform 0.85s cubic-bezier(0.1, 0.8, 0.2, 1);
		transform-origin: right;
	}
	&:hover {
		&:after {
			transform: translateY(-50%) scaleX(1);
		}
		.LandingPagination__text {
			transform: translate3d(-20px, 0, 0);
		}
	}
}

.LandingPagination__mainWrapper {
	position: fixed;
	top: 50vh;
	right: 20px;
	transform: translate3d(0, -50%, 0);
	padding: 20px;
	z-index: 2;
	&:hover {
		.LandingPagination__controlWrapper {
			transform: translateZ(0);
			transition-delay: 0.2s;
			opacity: 1;
		}
		.LandingPagination__displayWrapper {
			transform: translate3d(40%, -50%, 0);
			transition-delay: 0s;
			opacity: 0;
		}
	}
}
