section.fl-work
	section.fl-work__mastheadWrapper
		p.fl-work__mainHeader.fl-workOnboardAnim__heroCopy Here’s 5% of 
		p.fl-work__mainHeader.fl-workOnboardAnim__heroCopy our published work.
		p.color--red.fl-work__mainHeader.fl-workOnboardAnim__heroCopy See 100% of our power.
		section.fl-workOnboardAnim__categoryList.fl-workFilterAndLegend__mainGridWrapper.fl-workFilterAndLegend--isHorizontal
			section.fl-workCategory__mainWrapper.clearfix
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText All
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Food & Beverage
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Media
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Transport & Logistics
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Banking & Finance
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Lifestyle
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText.is--active Co-incubation
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Healthcare
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Retail & Entertainment
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Telco
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Others
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Start-ups
			section.fl-workLegend__mainWrapper
				p.fl-workLegend__header Legend
				.fl-workLegend__itemWrapper.clearfix
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--app
						p.fl-workLegend__itemText APP
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--web
						p.fl-workLegend__itemText WEB
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--cms
						p.fl-workLegend__itemText CMS
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--uiux
						p.fl-workLegend__itemText UI/UX
	section.fl-workFilterContainer__mainWrapper
		section.undefined.fl-workFilterAndLegend__mainGridWrapper.fl-workFilterAndLegend--isVertical.is--collapsed
			.fl-workFilterBall__mainWrapper.fl-workFilterBallAnim--onboard
				//- p.fl-workFilterBall__text.fl-workFilterBallText--onboard Filter
				p.fl-workFilterBall__text Filter
			section.fl-workCategory__mainWrapper.clearfix
				.fl-workCategory__itemWrapper.is--active
					.fl-workCategory__itemText All
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Food & Beverage
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Media
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Transport & Logistics
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Banking & Finance
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Lifestyle
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Co-incubation
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Healthcare
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Retail & Entertainment
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Telco
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Others
				.fl-workCategory__itemWrapper
					.fl-workCategory__itemText Start-ups
			section.fl-workLegend__mainWrapper
				p.fl-workLegend__header Legend
				.fl-workLegend__itemWrapper.clearfix
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--app
						p.fl-workLegend__itemText APP
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--web
						p.fl-workLegend__itemText WEB
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--cms
						p.fl-workLegend__itemText CMS
					.fl-workLegend__item.clearfix
						.fl-workLegend__itemIcon.fl-workLegendItemIcon--uiux
						p.fl-workLegend__itemText UI/UX
	section.clearfix
		section.fl-work__compressorGridWrapper.clearfix
			section.fl-workGrid__mainWrapper
				a.fl-workGrid__gridItem.fl-workGrid__colWidth--span2(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/711.jpg', sizes='25vw', data-srcset='./assets/work/711.jpg 375w,\
					./assets/work/711.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Retail & Entertainment
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text 7Rewards
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--web
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--cms
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/MYR.jpg', sizes='25vw', data-srcset='./assets/work/MYR.jpg 375w,\
					./assets/work/MYR.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Telco
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text MyRepublic Mobile
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--uiux
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/FPOL.jpg', sizes='25vw', data-srcset='./assets/work/FPOL.jpg 375w,\
					./assets/work/FPOL.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Retail & Entertainment
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text FairPrice Online
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--uiux
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/CDG-2-1.jpg', sizes='25vw', data-srcset='./assets/work/CDG-2-1.jpg 375w,\
					./assets/work/CDG-2-1.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper(style='color: rgb(0, 0, 0);')
						p.fl-workGrid__textCategory_text Transport & Logistics
					.fl-workGrid__textProjectTitle_gridWrapper(style='color: rgb(0, 0, 0);')
						p.fl-workGrid__textProjectTitle_text ComfortDelGro
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
				a.fl-workGrid__gridItem.fl-workGrid__colWidth--span2(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/ck.jpg', sizes='25vw', data-srcset='./assets/work/ck.jpg 375w,\
					./assets/work/ck.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper(style='color: rgb(10, 10, 10);')
						p.fl-workGrid__textCategory_text Retail & Entertainment
					.fl-workGrid__textProjectTitle_gridWrapper(style='color: rgb(10, 10, 10);')
						p.fl-workGrid__textProjectTitle_text Charles & Keith / Pedro
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
				a.fl-workGrid__gridItem.fl-workGrid__colWidth--span2(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/thumbnail-justice_league@2x.jpg', sizes='25vw', data-srcset='./assets/work/thumbnail-justice_league@2x.jpg 375w,\
					./assets/work/thumbnail-justice_league@2x.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Retail & Entertainment
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text Justice League
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
				a.fl-workGrid__gridItem.fl-workGrid__colWidth--span2(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/FF-1.jpg', sizes='25vw', data-srcset='./assets/work/FF-1.jpg 375w,\
					./assets/work/FF-1.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text
							| Transport & Logistics
							span , 
							| Co-incubation
							span , 
							| Start-ups
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text FastFast
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--web
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--cms
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/fullerton-health-thumbnail@2x.jpg', sizes='25vw', data-srcset='./assets/work/fullerton-health-thumbnail@2x.jpg 375w,\
					./assets/work/fullerton-health-thumbnail@2x.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Healthcare
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text Fullerton Health
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/skypremium-thumbnail@2x.jpg', sizes='25vw', data-srcset='./assets/work/skypremium-thumbnail@2x.jpg 375w,\
					./assets/work/skypremium-thumbnail@2x.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Lifestyle
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text Sky Premium
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--web
				a.fl-workGrid__gridItem.fl-workGrid__colWidth--span2(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/TSingapore-thumbnail@2x.jpg', sizes='25vw', data-srcset='./assets/work/TSingapore-thumbnail@2x.jpg 375w,\
					./assets/work/TSingapore-thumbnail@2x.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Lifestyle
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text T Singapore
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--web
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--cms
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/singpost-thumbnail@2x.jpg', sizes='25vw', data-srcset='./assets/work/singpost-thumbnail@2x.jpg 375w,\
					./assets/work/singpost-thumbnail@2x.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Transport & Logistics
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text SingPost
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--uiux
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/dineinn.jpg', sizes='25vw', data-srcset='./assets/work/dineinn.jpg 375w,\
					./assets/work/dineinn.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text
							| Co-incubation
							span , 
							| Start-ups
							span , 
							| Food & Beverage
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text Dine Inn
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--web
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--cms
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/siemens.jpg', sizes='25vw', data-srcset='./assets/work/siemens.jpg 375w,\
					./assets/work/siemens.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Transport & Logistics
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text Siemens Engineering
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--web
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--cms
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/f1.jpg', sizes='25vw', data-srcset='./assets/work/f1.jpg 375w,\
					./assets/work/f1.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text Singapore Grand Prix
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--web
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--cms
				a.fl-workGrid__gridItem(href='work-detail.html')
					img.fl-workGrid__bgImg.blur-up.lazyload(data-src='./assets/work/mc-cafe-thumbnail@2x.jpg', sizes='25vw', data-srcset='./assets/work/mc-cafe-thumbnail@2x.jpg 375w,\
					./assets/work/mc-cafe-thumbnail@2x.jpg 750w')
					.fl-workGrid__textCategory_gridWrapper
						p.fl-workGrid__textCategory_text Food & Beverage
					.fl-workGrid__textProjectTitle_gridWrapper
						p.fl-workGrid__textProjectTitle_text McDonald's
					.fl-workGrid__icoPlatformsOnMainWrapper
						.fl-workGrid__IcoPlatforms.fl-workGridIcoPlatforms--app