extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

block loading
	include _templates/_layout/_loading
block banner,breadcrumb
block main
	section.LandingPagination__mainWrapper
		div
			.LandingPagination__displayWrapper
				p.LandingPagination__text.is--active 01
				.LandingPagination__separator
				p.LandingPagination__text 03
			.LandingPagination__controlWrapper
				.LandingPagination__controlItemWrapper(data-scroll-to="index-1")
					p.LandingPagination__text.is--active 01
				.LandingPagination__controlItemWrapper(data-scroll-to="index-2")
					p.LandingPagination__text 02
				.LandingPagination__controlItemWrapper(data-scroll-to="index-3")
					p.LandingPagination__text 03
	include _templates/index/i-1
	div(data-scroll-id="index-2")
		include _templates/index/i-2
		include _templates/index/i-3
	include _templates/index/i-4
block scripts
	script.
		var sentences = [
			"Tạo ra<br>Sự Khác Biệt",
			"Tối ưu<br>Chi Phí Dự Án",
			"Hình thành<br>Cầu Nối Liên Kết",
		]
