.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 0;
	position: relative;

	&:focus,
	&.focus {
		outline: 0;
	}

	// Disabled comes first so active can properly restyle
	&.disabled,
	&:disabled {
		opacity: 0.7;
	}

	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}
}

.button--inlineArrows--red,
.button--inlineArrows--white {
	display: inline-block;
	cursor: pointer;
	&:after {
		content: '';
		width: 15px;
		height: 9px;
		display: inline-block;
		position: relative;
		float: right;
		margin-top: 3px;
		margin-left: 15px;
		background-repeat: no-repeat;
		transition: all 1.25s cubic-bezier(0.2, 0.6, 0.4, 1);
		left: 0;
	}
	&:hover {
		&:after {
			left: 15px;
		}
	}
}

.button--inlineArrows--white {
	&::after {
		background-image: url(../assets/icons/arrow-white.svg);
	}
}
