.form-group-label {
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 700;
	margin-bottom: 20px;
}

.form-control--wrapper {
	position: relative;
	.CTAFormDropdown__arrowEl {
		width: 10px;
		height: 10px;
		border-right: 1px solid #d5333e;
		border-bottom: 1px solid #d5333e;
		position: absolute;
		top: calc(50% - 5px);
		right: 20px;
		transform: translateY(-50%) rotate(45deg);
		pointer-events: none;
	}
}
select{
	appearance: none;
}
textarea,
input[type='text'],
input[type='date'],
input[type='email'],
input[type='number'] {
	outline: none;

	&::placeholder {
		color: #cacaca;
	}
}

.form-control {
	transition: border-color 0.6s;
	width: 100%;
	font-size: 1.4rem;
	padding: 17.5px 20px;
	border: 1px solid #dad6da;
	background: #f9f9f9;
	outline: none;
	color: #1c1c1c;

	+ .form-control {
		margin-top: 10px;
	}
	&:focus {
		border: 1px solid #000000;
	}
}

.form-control--textarea {
	height: 120px;
	line-height: 2rem;
	resize: none;
	padding: 20px;
}
