section.LandingTypewrite__mainWrapper
	section.LandingTypewrite__gridWrapper
		section.LandingTypewrite__gridContentNestedWrapper--1
			p.LandingMastHeader__textFormat.LandingMastHeader__textEffect(style='') We
			.Typist
				section
					p.LandingMastHeader__textFormat.LandingMastHeader--FirstCharacter
						span.LandingMastHeader__textFormat.LandingMastHeader__textEffect.item-2 Make
						br
						span.LandingMastHeader__textFormat.LandingMastHeader__textEffect.item-3 Senses.
				span.Cursor.Cursor--blinking
		section.LandingTypewrite__gridContentNestedWrapper--2
			p.LandingMastSubheader__textFormat Design and development for brands and start-ups.
			p.LandingMastSubheader__textFormat.hidden Between your business objectives and what your customers want.
			p.LandingMastSubheader__textFormat.hidden Having built 300 apps and websites, we really do.
			p.LandingMastSubheader__textFormat.hidden Not client-vendor or vendor-client, we collaborate for the win.
		section.LandingTypewrite__gridContentNestedWrapper--3
			.LandingProgressBar__mainWrappingBar
				.LandingProgressBar__progressLevel
