section.LandingTypewrite__mainWrapper(data-scroll-id="index-1")
	section.LandingTypewrite__gridWrapper
		section.LandingTypewrite__gridContentNestedWrapper--1
			p.LandingMastHeader__textFormat.LandingMastHeader__textEffect(style='') Chúng tôi
			.Typist
				section
					p.LandingMastHeader__textFormat.LandingMastHeader--FirstCharacter
						span.LandingMastHeader__textFormat.LandingMastHeader__textEffect.item-2 Hình thành
						br
						span.LandingMastHeader__textFormat.LandingMastHeader__textEffect.item-3 Cầu Nối Liên Kết.
				span.Cursor.Cursor--blinking
		section.LandingTypewrite__gridContentNestedWrapper--2
			p.LandingMastSubheader__textFormat Giữa chủ doanh nghiệp và hàng ngàn khách hàng tiềm năng.
			//- p.LandingMastSubheader__textFormat.hidden Giữa chủ doanh nghiệp và hàng ngàn khách hàng tiềm năng.
			p.LandingMastSubheader__textFormat.hidden Phá vỡ những lối mòn để trở nên nổi bật trên thị trường khốc liệt.
			p.LandingMastSubheader__textFormat.hidden Giải pháp Marketing Online tối giản cho doanh nghiệp.
		section.LandingTypewrite__gridContentNestedWrapper--3
			.LandingProgressBar__mainWrappingBar
				.LandingProgressBar__progressLevel
