section.fl-index-2(data-scroll-id="index-2")
	h1.fl-index-2__title Award Winning Mobile App Development Company Based in Singapore
	.fl-index-2__grid-row
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-brother.svg", alt="")
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-furama.svg", alt="")
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-HBO.svg", alt="")
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-isetan.svg", alt="")
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-OCBC.svg", alt="")
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-SATS.svg", alt="")
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-suntory.svg", alt="")
		img.fl-index-2__item.lazyload.blur-up(data-src="./assets/index/client-wildlife-reserves.svg", alt="")