section.fl-index-4
	p.extraBold--36.color--white.ta-c.fl-index-4__mainHeader What we can do for you or your business
	.fl-index-4__gridWrapper
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(255, 255, 101);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-postIt.png', srcset='./assets/index/services-postIt.png 1x, ./assets/index/services-postIt@2x.png 2x')
			p.fl-index-4__header User Experience
			p.fl-index-4__bodyCopy The heart of everything we build
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(238, 217, 220);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-pixCherry.png', srcset='./assets/index/services-pixCherry.png 1x, ./assets/index/services-pixCherry@2x.png 2x')
			p.fl-index-4__header Interface Design
			p.fl-index-4__bodyCopy Crafting pixel perfect interfaces for all screens
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(179, 38, 46);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-letterSeal.png', srcset='./assets/index/services-letterSeal.png 1x, ./assets/index/services-letterSeal@2x.png 2x')
			p.fl-index-4__header Consultancy
			p.fl-index-4__bodyCopy Tap on our brains to make your ideas work
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(23, 123, 209);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-phone.png', srcset='./assets/index/services-phone.png 1x, ./assets/index/services-phone@2x.png 2x')
			p.fl-index-4__header Mobile Development
			p.fl-index-4__bodyCopy Making mobile apps since iOS 4 and Android Froyo
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(255, 141, 110);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-laptop.png', srcset='./assets/index/services-laptop.png 1x, ./assets/index/services-laptop@2x.png 2x')
			p.fl-index-4__header Web Development
			p.fl-index-4__bodyCopy Creating effective web platforms that look good
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(15, 113, 115);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-cogwheels.png', srcset='./assets/index/services-cogwheels.png 1x, ./assets/index/services-cogwheels@2x.png 2x')
			p.fl-index-4__header CMS
			p.fl-index-4__bodyCopy Powering platforms with content and data
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(69, 48, 66);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-vr.png', srcset='./assets/index/services-vr.png 1x, ./assets/index/services-vr@2x.png 2x')
			p.fl-index-4__header Emerging Tech
			p.fl-index-4__bodyCopy We did AR way before Pokemon Go
		.fl-index-4__gridItemWrapper
			.fl-index-4__visualWrapper
				.fl-index-4__visualBall(style='background-color: rgb(135, 57, 85);')
					img.fl-index-4__visualImgEl.blur-up.lazyload(src='./assets/index/services-rolledCert.png', srcset='./assets/index/services-rolledCert.png 1x, ./assets/index/services-rolledCert@2x.png 2x')
			p.fl-index-4__header Coaching
			p.fl-index-4__bodyCopy Share our knowledge and experience
