.newsBanner
	.newsBanner__img
		img.lazyload.blur-up(data-src="./assets/news/banner.jpg")
	.newsBanner__content
		.fl-header__container
			.d-f.ai-c
				.text.color--white
					h1 Thiết kế 
						br
						| Website tối giản
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere a elementum nisi, morbi eget tellus laoreet accumsan. Et tempus sit quam id bibendum scelerisque dolor enim. Nulla maecenas tempor erat cras. Lorem ipsum dolor sit amet,
	.newsHotWrapper
		.newsHot__Slider
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020
			.newsItem__hot
				a.newsItem__url(href="news-detail.html")
					.newsItem__img
						img(src="./assets/news/news-1.jpg")
					.newsItem__content
						span.newsItem__badge--hot Ưu đãi
						h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
						p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum
						.newsItem__detail
							span.color--red.button--inlineArrows--red Xem chi tiết
							time 25/10/2020