.newsList
	.fl-header__container
		.row
			.col-md-3.col-xl-auto
				.colSpon
					h2.tt-u.color--white Sponsored
					.sponItem
						a.fcc.d-f(href="#")
							img.lazyload.blur-up(data-src="./assets/news/sponsored-1.jpg")
					.sponItem
						a.fcc.d-f(href="#")
							img.lazyload.blur-up(data-src="./assets/news/sponsored-2.jpg")
			.col-md
				.row.no-gutters.newsList__wrapper
					.col-lg-4.col-sm-6
						.newsItem
							a.newsItem__url(href="news-detail.html")
								.newsItem__img
									img.lazyload.blur-up(data-src="./assets/news/news-1.jpg")
								.newsItem__content
									h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
									p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum arcu ac eget maecenas.
									.newsItem__detail
										span.color--red.button--inlineArrows--red Xem chi tiết
										time 25/10/2020
									
									
					.col-lg-4.col-sm-6
						.newsItem
							a.newsItem__url(href="news-detail.html")
								.newsItem__img
									img.lazyload.blur-up(data-src="./assets/news/news-1.jpg")
								.newsItem__content
									h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
									p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum arcu ac eget maecenas.
									.newsItem__detail
										span.color--red.button--inlineArrows--red Xem chi tiết
										time 25/10/2020
									
									
					.col-lg-4.col-sm-6
						.newsItem
							a.newsItem__url(href="news-detail.html")
								.newsItem__img
									img.lazyload.blur-up(data-src="./assets/news/news-1.jpg")
								.newsItem__content
									h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
									p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum arcu ac eget maecenas.
									.newsItem__detail
										span.color--red.button--inlineArrows--red Xem chi tiết
										time 25/10/2020
									
									
					.col-lg-4.col-sm-6
						.newsItem
							a.newsItem__url(href="news-detail.html")
								.newsItem__img
									img.lazyload.blur-up(data-src="./assets/news/news-1.jpg")
								.newsItem__content
									h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
									p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum arcu ac eget maecenas.
									.newsItem__detail
										span.color--red.button--inlineArrows--red Xem chi tiết
										time 25/10/2020
									
									
					.col-lg-4.col-sm-6
						.newsItem
							a.newsItem__url(href="news-detail.html")
								.newsItem__img
									img.lazyload.blur-up(data-src="./assets/news/news-1.jpg")
								.newsItem__content
									h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
									p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum arcu ac eget maecenas.
									.newsItem__detail
										span.color--red.button--inlineArrows--red Xem chi tiết
										time 25/10/2020
									
									
					.col-lg-4.col-sm-6
						.newsItem
							a.newsItem__url(href="news-detail.html")
								.newsItem__img
									img.lazyload.blur-up(data-src="./assets/news/news-1.jpg")
								.newsItem__content
									h4.newsItem__title Bản tin chấn động thế giới vào chiều hôm nay, Hoàng chạy Grab :D
									p.newsItem__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel nunc egestas vitae cras turpis libero. Interdum arcu ac eget maecenas.
									.newsItem__detail
										span.color--red.button--inlineArrows--red Xem chi tiết
										time 25/10/2020
				include ../_layout/_pagination.pug